<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>30 Day Challenge - information</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <main>
      <h1>About 30 Day Challenge at CLS</h1>
      <p>30 Day Challenge at CLS will run from the 25th of November to the 20th of December.</p>
      <p>Each challenge is available between 07:00 and 18:00.</p>
      <p>Have fun!</p>
      <h2>Contact</h2>
      <p>lars.j.andersson@chalmers.se<br/>sofia.toivonen@chalmers.se</p>
      <h2>Your data</h2>
      <p>By accepting and signing in to 30 Day Challenge we will get access to your cid, full name and email.</p>
      <p>We will store data about your progress in 30 Day Challenge on your device.</p>
      <% if(user){ %>
      <button type=button onclick="window.location.href='/login'">Back to 30 Day Challenge</button>
      <% } else{ %>
      <button type=button onclick="window.location.href='/login'">Accept and continue to 30 Day Challenge</button>
      <% } %>
    </main>
  </body>
</html>