html {
  font-family: serif;
  background-color: #075767;
  color: #fcf9ec;
  font-size: 24px;
  text-align: center;
}

html, body {
  margin: 0;
  text-align: center;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #f2c230;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.result-text {
  margin: 0;
  margin-top: 0.6rem;
}

ol {
  margin:0;
  text-align: left;
  padding-inline-start: 1.4rem;
}

.firstResult {
  margin: 0;
  font-size: 8rem;
  line-height: 5.6rem;
  height: 5.6rem;
}

.secondResult {
  margin: 0;
  font-size: 11rem;
  line-height: 7.8rem;
  height: 7.8rem;
}

.thirdResult {
  margin: 0;
  font-size: 3rem;
  height: 2.2rem;
  line-height: 2.2rem;
  margin-bottom: 0.6rem;
}

a {
  color: #dedbcc;
}

.viz-box {
  padding: 2rem 2vw;
  border: solid 1px #f2c230;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback {
  padding: 0 1rem;
  font-size: 1.6rem;
}