html, body {
  margin: 0; 
  padding: 0;
  font-family: 'Merriweather', serif;
  background-color: #075767;
  color: #fcf9ec;
  font-size: 16px;
}

main {
  margin: 1rem;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #f2c230;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}

h2 {
  margin: 1rem 0 0 0;
}

button {
  box-sizing: border-box;
  display: block;
  padding: 0.5em;
  width: 100%;
  font-size: 1.6em;
}

a, a:visited {
  color: #f0f0f0;
}

p {
  margin: 0 0 0.8rem 0;
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }

  p {
    margin: 0;
  }

  button {
    margin: 2rem 0;
  }
}

button {
  background-color: #fcf9ec;
  background-image: linear-gradient(#fefcf7, #f6eec9);
  color: #075767;
  border: none;
  box-shadow: 0 0.5rem 0 #e0c13b;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 2rem;
}

button:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0.3rem 0 #b0941c;
}

